{% load static %}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Catateto - Agregador de Imóveis</title>
    <meta name="author" content="">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body>
    <div class="header u-full-width">
        <div class="container">
            <a href="#" class="header-brand">
                <img alt="Catateto - Agregador de Imóveis" src="{% static 'images/catateto-logo-header.png' %}">
            </a>
            <div class="header-menu">
                <ul class="header-menu-list">
                    <li class="header-menu-item">
                        <a href="#" class="header-menu-link">Sobre nós</a>
                    </li>
                    <li class="header-menu-item">
                        <a href="#" class="header-menu-link">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
